<header>
    <h1>Dashboard</h1>
    <h3>Click on the required link</h3>
  </header>
  <section>
  <article>
     <div>
        <h2>Students</h2>
        <h3 style="color:green;">{{sCount}}</h3>
      </div>
    </article>
    <article>
      <div>
        <h2>Teachers</h2>
        <h3 style="color:green;">{{tCount}}</h3>
      </div>
    </article>
    <article>
      <div>
        <h2>Attendance</h2>
      </div>
    </article>
    <article>
      <div>
        <h2>Events</h2>
      </div>
    </article>

    <article>
      <div>
        <h2>Fee Payments</h2>
        <h4 style="color:green;">Pending: 0</h4>
      </div>
    </article>
    <article>
        <div>
          <h2>Assessment</h2>
        </div>
      </article>
      <article>
          <div>
            <h2>Transport</h2>
          </div>
        </article>
  </section>




