<div class="sidenav">
    <br /><br /><br />
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/students">Students</a>
    <a routerLink="/teachers">Teachers</a>
    <a routerLink="/masters">Masters</a>
    <a routerLink="/aymappings">Mappings</a>
    <a href="#">Time Table</a>
    <a href="#">Attendance</a>
    <a href="#">Transport</a>
    <a href="#">Library</a>
    <a href="#">Exams and Marks</a>
  </div>

  <!-- Page content -->
  <div class="main">
    <router-outlet></router-outlet>
  </div>
